/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.main {
  &__inner {
    padding: 50px 150px;
  }
}
.side {
  display: block;
}
